<div style="width:25%;">

<%= form_tag("/search", method: "get") do %>
<%= label_tag(:qname, "Name:") %>
<br />
<%= text_field_tag(:qname, "" , :class => "form-control") %>
<br />
<br />
<%= label_tag(:qdesc, "Description:") %>
<br />
<%= text_field_tag :qdesc , "" , :class => "form-control"%>
<br />
<br />
<%= label_tag :qtype, "Type:" %>
<br />
<%= select_tag(:qtype, options_for_select(@birds), :class => "form-control") %>
<br />
<br />

<%= submit_tag "Search", :class => "btn btn-primary form-control"%>
<% end %>
</div>